{% extends 'base.html' %}

{% block title %}
Categories
{% endblock title %}

{% block content %}
<main>
  <h1>
    Expense Category List
  </h1>
  <table>
    <thead>
    <th>
      <tr>
        <th>Name</th>
        <th>Number of receipts</th>
      </tr>
    </th>
    </thead>
    <tbody>
      {% for categorie in categories %}
      <tr>
        <td>{{ categorie.name }}</td>
        <td>{{ categorie.receipts.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content%}
