{% extends 'base.html' %}

{% block title%}
Account list
{% endblock title%}

{% block content %}
<main>
  <h1>
    Account list
  </h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for account in show_account %}
      <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.account_number }}</td>
        <td>{{ account.receipt_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
