{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content%}
  <main>
    <h1>
      My Receipts
    </h1>
    <table>
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody>
        {% for receipts in show_receipt %}
        <tr>
          <td>{{ receipts.vendor }}</td>
          <td>{{ receipts.total }}</td>
          <td>{{ receipts.tax }}</td>
          <td>{{ receipts.date|date:"m/j/y" }}</td>
          <td>{{ receipts.category }}</td>
          <td>{{ receipts.account }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
